<div class="container-fluid" style="background-color:rgb(118, 128, 156)">
  <div class="reviewDetails" >
      <div>
        <h5 class="display-4" >ACADEMICS</h5>
        <p> It is a large institution with an enrollment of 21,004 undergraduate students. Admissions is fairly competitive as the Cal State Los Angeles. Popular majors include Business, Sociology, and Psychology. </p>
  
        <h5 class="display-4">JOB PROSPECTS</h5>
        <p>Graduating 47% of students, Cal State Los Angeles alumni go on to earn a starting salary of $31,800.</p>
  
        <h5 class="display-4">CAMPUS</h5>
        <p>Its setting is urban, and the campus size is 175 acres.</p>
      </div>
    </div>
  </div>
