
<div id="intro" class="view">
  <div class="mask">
    <div class="mask rgba-black-strong">
      <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-md-10" id="unistack">
            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">UNISTACK</h2>
            <hr class="hr-light">
            <h4 class="white-text my-4">Application Process Made Easy</h4>
            <button type="button" class="btn btn-dark" routerLink="/search">Search Universities<i class="fas fa-book ml-2"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container-fluid" id="fluid">
    <!--Section: Best Features-->
    <section id="Best_Features" class="text-center">
      <h2 class="mb-5 font-weight-bold">Best Features</h2>
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-8">
          <p>What Unistack offers?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5">
          <i class="fas fa-clipboard-list fa-4x white-text"></i>
          <h5 class="my-4 font-weight-bold">CheckList</h5>
          <p class="grey-text">Make a list of universities by reviewing ample amount of university by using University
            Reviews tool- it allows you to access detailed, honest and accurate information about Universities around
            the world. What's more? You can add country, course, rank, type and other filters to find the perfect match
            for yourself.</p>
        </div>
        <div class="col-md-4 mb-5">
          <i class="fas fa-portrait fa-4x white-text"></i>
          <h5 class="my-4 font-weight-bold">Profile Builder</h5>
          <p class="grey-text">Anxiety about tests like GRE, GMAT can be harrowing.Unistack makes sure that you find
            support during your test taking journey.Build your profile to understand where you stand among thousands of
            other students applying abroad. Message fellow students through your profile to clear doubts or share
            information.</p>
        </div>
        <div class="col-md-4 mb-5">
          <i class="fas fa-plane-departure fa-4x white-text"></i>
          <h5 class="my-4 font-weight-bold">Pre-Departure</h5>
          <p class="grey-text">Prepare for your Visa Interview with Unistack Discussions and articles, read past
            experiences and get your doubts cleared about the I-20.Forex card is the best alternative to carrying
            currency notes or travellers’ cheques. It is useful for your day to day expenses. Get a Forex card delivered
            to your doorstep and spend hassle-free when you travel abroad.</p>
        </div>
      </div>

    </section>
    <!--Section: Best Features-->


    <section id="examples" class="text-center">
      <div id="Trending" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
        <h4 class="mb-5 font-weight-bold">TRENDING UNIVERSITIES</h4><BR><BR>

        <div class="row" style="padding-bottom: 20px;">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
            <div class="card border-0">
              <img class="card-img-top" src="assets/Images/neu.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h5 class="card-title align-items-center d-flex justify-content-center">Northeastern University</h5>
                <p class="card-text align-items-center d-flex justify-content-center">Boston,Massachusetts</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card border-0">
              <img class="card-img-top" src="assets/Images/standford.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title align-items-center d-flex justify-content-center">University of Southern
                  California</h4>
                <p class="card-text align-items-center d-flex justify-content-center">Los Angeles,California</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card border-0">
              <img class="card-img-top" src="assets/Images/harvard.png" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title align-items-center d-flex justify-content-center">University of Cincinnati</h4>
                <p class="card-text align-items-center d-flex justify-content-center">Cincinnati,Ohio</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card border-0">
              <img class="card-img-top" src="assets/Images/UCLA.png" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title align-items-center d-flex justify-content-center">University of California </h4>
                <p class="card-text align-items-center d-flex justify-content-center">Los Angeles,California</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Examples-->

    


    <!--Section: Contact-->
    <section id="contact">


      <!--Grid row-->


      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->
      <app-register></app-register>
      <!--Grid column-->

      <!--Grid row-->

    </section>
  </div>
