<div class="container-fluid" style="background-color:rgb(118, 128, 156)">
<div class="reviewDetails" >
    <div>
      <h5 class="display-4" style="text-indent: -1.46em;">ACADEMICS</h5>
      <p>Admissions is competitive as the UCLA acceptance rate is 16%. Popular majors include Political Science and Government, Economics, and Psychology. Graduating 91% of students, UCLA alumni go on to earn a starting salary of $41,900.</p>

      <h5 class="display-4">JOB PROSPECTS</h5>
      <p>The average salary for graduates with full-time offers was $60,558, which is about $10,000 higher than the national average, said career center director Wesley Thorne.</p>

      <h5 class="display-4">CAMPUS</h5>
      <p>Its setting is urban, and the campus size is 419 acres. ocated in LA’s Westwood neighborhood, five miles from the Pacific Ocean, UCLA encompasses the College of Letters and Sciences and a number of graduate schools and programs, including the highly ranked Anderson School of Management, Henry Samueli School of Engineering and Applied Science, School of Law and David Geffen School of Medicine. UCLA also has a prestigious School of Theater, Film and Television, and School of Dentistry. The Ronald Reagan UCLA Medical Center is one of the top-ranked hospitals in the country. UCLA guarantees housing for three years and offers more than 1,000 student organizations, including media groups and around 60 Greek chapters, which represent about 13 percent of the student body. The UCLA Bruins compete in the Pac-12 Conference of NCAA’s Division I and are well known for their successful men’s and women’s water polo teams.</p>
    </div>
  </div>
</div>