<div class="container-fluid navbar-focus" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-9" id="ac">
            <h3 class="display-4 font-weight-bold white-text pt-5 mb-2"><small>Account settings</small></h3>
            <hr class="hr-info" />
        </div>
        <div class="container">
            <form class="col-lg-9 col-md-12" [formGroup]="registerForm">
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-7">
                        <input type="text"  formControlName="name" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="userDetails.Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{userDetails.email}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-sm-2 col-form-label">Phone:</label>
                    <div class="col-sm-3">
                        <select id="input"  formControlName="phonecode" class="form-control" [(ngModel)]="userDetails.PhoneCode" required>
                            <option value="93">Afghanistan (+93)</option>
                            <option value="355">Albania (+355)</option>
                            <option value="213">Algeria (+213)</option>
                            <option value="376">Andorra (+376)</option>
                            <option value="244">Angola (+244)</option>
                            <option value="54">Argentina (+54)</option>
                            <option value="374">Armenia (+374)</option>
                            <option value="61">Australia (+61)</option>
                            <option value="43">Austria (+43)</option>
                            <option value="994">Azerbaijan (+994)</option>
                            <option value="973">Bahrain (+973)</option>
                            <option value="880">Bangladesh (+880)</option>
                            <option value="375">Belarus (+375)</option>
                            <option value="32">Belgium (+32)</option>
                            <option value="501">Belize (+501)</option>
                            <option value="229">Benin (+229)</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text"  formControlName="phonenumber"  [(ngModel)]="userDetails.Phone" class="form-control"  required id="phoneNumber" placeholder="Enter phone number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBirth" class="col-sm-2 col-form-label">Birth Date:</label>
                    <div class="col-sm-2">
                        <select formControlName="birthYear" [(ngModel)]="userDetails.BirthYear"   required class="form-control">
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select id="month"  formControlName="birthMonth" [(ngModel)]="userDetails.BirthMonth"  required class="form-control">
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>

                        </select>
                    </div>
                    <div class="col-sm-2"> 
                        <select id="Date"  formControlName="birthDate" [(ngModel)]="userDetails.BirthDate"  reqquired class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBirth" class="col-sm-2 col-form-label">Address:</label>
                    <div class="col-sm-7">
                        <textarea name="address"  [(ngModel)]="userDetails.Address" required  formControlName="address"placeholder="Enter address" class="form-control" row="9"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputzip" class="col-sm-2 col-form-label">Zipcode:</label>
                    <div class="col-sm-7">
                        <input type="text"  required id="zipcode"  [(ngModel)]="userDetails.zipcode" formControlName="zipcode" placeholder="Enter zipcode" class="form-control" onkeyup="valid();" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputcity" class="col-sm-2 col-form-label">City:</label>
                    <div class="col-sm-7">
                        <input type="text" required formControlName="City" [(ngModel)]="userDetails.City" placeholder="Enter City" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputcity" class="col-sm-2 col-form-label">GRE Score:</label>
                    <div class="col-sm-7">
                        <input type="text" formControlName="GRE" placeholder="Enter Scores" [(ngModel)]="userDetails.GRE"  class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputcity" class="col-sm-2 col-form-label">TOEFL Score:</label>
                    <div class="col-sm-7">
                        <input type="text" formControlName="englishgrade" placeholder="Enter Scores"  [(ngModel)]="userDetails.englishgrade" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputcity" class="col-sm-2 col-form-label">Work Experience:</label>
                    <div class="col-sm-7">
                        <input type="number" max="10" formControlName="WorkExperience" placeholder="Enter Years" [(ngModel)]="userDetails.WorkExperience" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <input type="submit" class="form-control" (click)="userinfo()"value="Save settings" id="tags">
                    </div>
                </div>
            </form>
            <div class="alert" *ngIf="serverErrorMessages">
                {{serverErrorMessages}}
              </div>
        </div>
    </div>
</div>