<div class="container-fluid" style="background-color:rgb(118, 128, 156)">
<div class="reviewDetails" >
    <div>
      <h5 class="display-4">ACADEMICS</h5>
      <p>Harvard is one of the most selective. It is also one of the largest, enrolling more than 20,500 students at the start of the 2017 academic year. By comparison, Dartmouth enrolled about 6,500 students during the same period. </p>

      <h5 class="display-4">JOB PROSPECTS</h5>
      <p>Harvard graduates have a world of career opportunities from which to choose. They are highly sought after by employers in firms, government, businesses and nonprofit organizations. Some graduates even launch their own businesses.</p>

      <h5 class="display-4">CAMPUS</h5>
      <p>Its setting is urban, and the campus size is 5,076 acres. Harvard's extensive library system houses the oldest collection in the U.S. and the largest private collection in the world. Beyond books, Harvard's athletic teams compete in the Ivy League, with an annual football matchup against rival Yale. On-campus residential housing is an integral part of student life, where freshmen live at the center of campus and upperclassmen live in 12 undergraduate houses. Eight U.S. presidents graduated from Harvard, including Franklin Delano Roosevelt and John F. Kennedy. Other notable alumni include Henry David Thoreau and Helen Keller. Harvard also has the largest endowment of any school in the world.</p>
    </div>
  </div>
</div>