
<div class="container-fluid" id="canadainterview">

    <div class="row" id="section1">
        <!-- <div class="col-md-3"></div> -->
      
              <div class="col-md-8">
                <ul>
                  <li>Why are you going to the Canada?</li>
                  <li>What will you specialize in for your degree?</li>
                  <li>What will be your major?</li>
                  <li>Where did you go to school now?</li>
                  <li>Who is your current employer? What do you do?</li>
                </ul>

            </div>
            <div class="col-md-4">
<img src="assets/Images/Capture1.PNG" class="img-fluid" alt="" width="60%" height="50%">
          
          </div>
          
          <!-- <div class="col-md-3"></div> -->
          </div>
<hr>
          <div class="row" id="section2">
              <!-- <div class="col-md-3"></div> -->
            
                    <div class="col-md-8">
                      <ul>
                        <li>How many colleges did you apply to?</li>
                        <li>How many schools did you get admitted to?</li>
                        <li>How many schools rejected you?</li>
                        <li>Have you been to the Canada before?</li>
                        <li>Do you know your professors at that university? What are their names?</li>
                      </ul>
      
                  </div>
                  <div class="col-md-4">
      <img src="assets/Images/Capture2.PNG" class="img-fluid" alt="" width="60%" height="50%">
                
                </div>
                
                <!-- <div class="col-md-3"></div> -->
                </div>
                <hr>
                <div class="row" id="section3">
                    <!-- <div class="col-md-3"></div> -->
                  
                          <div class="col-md-8">
                            <ul>
                              <li>What are your test scores (GRE, GMAT, SAT, TOEFL, IELTS)?</li>
                              <li>What was your previous GPA?</li>
                              <li>How will you manage the cultural and educational differences in the Canada?</li>
                              <li>Why do you want to pursue a degree in the Canada?</li>
                              <li>Why not study in US, Australia or the UK?</li>
                            </ul>
            
                        </div>
                        <div class="col-md-4">
            <img src="assets/Images/Capture3.PNG" class="img-fluid" alt="" width="60%" height="50%">
                      
                      </div>
                      
                      <!-- <div class="col-md-3"></div> -->
                      </div>
                      <hr>
                      <div class="row" id="section4">
                          <!-- <div class="col-md-3"></div> -->
                        
                                <div class="col-md-8">
                                  <ul>
                                    <li>What is your sponsor’s annual income?</li>
                                    <li>How do you plan to fund the entire duration of your education?</li>
                                    <li>How much does your school cost?</li>
                                    <li>Who is going to sponsor your education?</li>
                                    <li>What is your sponsor's occupation?</li>
                                    <li>Do you have a copy of your bank statements?</li>
                                  </ul>
                  
                              </div>
                              <div class="col-md-4">
                  <img src="assets/Images/Capture4.PNG" class="img-fluid" alt="" width="60%" height="50%">
                            
                            </div>
                            
                            <!-- <div class="col-md-3"></div> -->
                            </div>
                            <hr>
                            <div class="row" id="section5">
                                <!-- <div class="col-md-3"></div> -->
                              
                                      <div class="col-md-8">
                                        <ul>
                                          <li>Do you have relatives or friends currently in the Canada?</li>
                                          <li>What are your plans post-graduation?</li>
                                          <li>Do you have a job or career in mind after you graduate?</li>
                                          <li>What are your plans after graduation?</li>
                                          <li>Do you plan on returning back to your home country?</li>
                                          <li>Are you sure you won't stay in the Canada?</li>
                                        </ul>
                        
                                    </div>
                                    <div class="col-md-4">
                        <img src="assets/Images/Capture5.PNG" class="img-fluid" alt="" width="60%" height="50%">
                                  
                                  </div>
                                  
                                  <!-- <div class="col-md-3"></div> -->
                                  </div>
                                  <hr>
                                  <div class="row" id="section6">
                                      <!-- <div class="col-md-3"></div> -->
                                    
                                            <div class="col-md-8">
                                              <h3>Interview Tips</h3>
                                              <p>If you fumble and mumble for any of the questions, then chances of  F1 Approval becomes extremely difficult.</p>
                                              <p>If you had a solid answer to a specific question and after the consular officer denied your visa, you can’t complain that they did not ask for documents or that specific question. That’s where you should know how your interview is proceeding and tell all possible answers in the short amount of time.</p>
                                              <h2>Important links to interview guidelines</h2>
                                              <ul>
                                                <li><a href="https://studyinthestates.dhs.gov/2015/06/five-ways-to-prepare-for-your-visa-interview">Tips to Prepare for Studnet Visa Interview</a></li>
                                                <li><a href="https://www.happyschools.com/3-student-visa-questions-usa/">Answers to 3 Most Important F1 Visa Interview Questions</a></li>
                                                <li><a href="https://www.happyschools.com/tag/f1-visa-interview-questions/">F1 Visa Interview Questions</a></li>
                                                <li><a href="https://www.immihelp.com/visas/studentvisa/interview-tips.html">Interview Tips</a></li>
                                                <li><a href="https://redbus2us.com/f1-visa-experiences-visa-interview-questions/">F1 visa interview experience</a></li>
                                            
                                              </ul>
                              
                                          </div>
                                          <div class="col-md-4">
                                            <br><br>
                              <img src="assets/Images/interview.jpg" class="img-fluid" alt="" width="80%" height="50%">
                                        
                                        </div>
                                        
                                        <!-- <div class="col-md-3"></div> -->
                                        </div>

          </div>