<div class="container-fluid"  style="background-color: slategray" >
  <!--Section: Top Universities-->
 
    <section id="TopUnniversitiesHeader" class="text-center">
    <div class="page-header"> 
    <h2>TOP UNIVERSITIES</h2>
    </div>
    </section>


  <section id="TopUnniversitiesBody" class="text-left">
  <div class="row" class="eachUni">
  <div class="col-md-6">
      <div>
          <img src="assets\Images\NEU-logo.png" alt="..." class="img-thumbnail" width="30%" class ="images">
          
            <div class="details">
              <h5 >NORTHEASTERN UNIVERSITY <span class="badge badge-pill badge-info">TOP 50</span></h5>
              <h6 >Massachusetts, United States</h6>
              <p>
                Private University<br>
                $25,000 annual tuition fee<br>
                35.6% acceptance rate<br>
                <button type="button" class="btn btn-dark"><a href="https://www.northeastern.edu/" style="text-decoration: none;color:white;" >OFFICIAL WEBSITE</a></button>
            </p>
            </div>
          </div>
      
        </div>
      </div>


      <div class="row" class="eachUni">
          <div class="col-md-6">
              <div>
                  <img src="assets\Images\Harvard-Logo.jpg" alt="..." class="img-thumbnail" width="30%" class ="images">
                  
                    <div class="details">
                      <h5 >HARVARD UNIVERSITY <span class="badge badge-pill badge-info">TOP 10</span></h5>
                      <h6 >Massachusetts, United States</h6>
                      <p>
                        Private University<br>
                        $46,000 annual tuition fee<br>
                        10% acceptance rate<br>
                        <button type="button" class="btn btn-dark"><a href="https://www.harvard.edu/" style="text-decoration: none;color:white;" >OFFICIAL WEBSITE</a></button>
                    </p>
                    </div>
                  </div>
              
                </div>
              </div>

              <div class="row" class="eachUni">
                  <div class="col-md-6">
                      <div>
                          <img src="assets\Images\UCLA.png" alt="..." class="img-thumbnail" width="30%" class ="images">
                          
                            <div class="details">
                              <h5>University of California-Los Angeles<span class="badge badge-pill badge-info">TOP 15</span> </h5>
                              <h6 >California, United States</h6>
                              <p>
                                Public University<br>
                                $32,000 annual tuition fee<br>
                                26% acceptance rate<br>
                                <button type="button" class="btn btn-dark"><a href="http://www.ucla.edu/" style="text-decoration: none;color:white;" >OFFICIAL WEBSITE</a></button>
                            </p>
                            </div>
                          </div>
                      
                        </div>
                      </div>



                      <div class="row" class="eachUni">
                        <div class="col-md-6">
                            <div>
                                <img src="assets\Images\calstate.png" alt="..." class="img-thumbnail" width="30%" height="190px" class ="images">
                                
                                  <div class="details">
                                    <h5 >CALIFORNIA STATE UNIVERSITY <span class="badge badge-pill badge-info">TOP 100</span></h5>
                                    <h6 >Calofornia, United States</h6>
                                    <p>
                                      Public University<br>
                                      $13,000 annual tuition fee<br>
                                      50.6% acceptance rate<br>
                                      <button type="button" class="btn btn-dark"><a href="https://www2.calstate.edu/" style="text-decoration: none;color:white;" >OFFICIAL WEBSITE</a></button>
                                  </p>
                                  </div>
                                </div>
                            
                              </div>
                            </div>


                            <div class="row" class="eachUni">
                              <div class="col-md-6">
                                  <div>
                                      <img src="assets\Images\virginiaUNI.jpg" alt="..." class="img-thumbnail" width="30%" class ="images">
                                      
                                        <div class="details">
                                          <h5 >VIRGINIA UNIVERSITY <span class="badge badge-pill badge-info">TOP 30</span></h5>
                                          <h6 >Virginia, United States</h6>
                                          <p>
                                            Public University<br>
                                            $30,000 annual tuition fee<br>
                                            30% acceptance rate<br>
                                            <button type="button" class="btn btn-dark"><a href="http://www.virginia.edu/" style="text-decoration: none;color:white;" >OFFICIAL WEBSITE</a></button>
                                        </p>
                                        </div>
                                      </div>
                                  
                                    </div>
                                  </div>


                            <!-- TOP BUTTON -->
   
                            <div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
                              <button (click)="scrollToTop()" class="btn btn-dark" style="font-family: Broadway;">
                                  BACK TO TOP
                              </button>
                          </div>
                       </section>
  
    </div>
    
  