#usinterview{
    height: 400px;
    overflow: scroll;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#section1,#section2,#section3,#section4,#section5,#section6{
    padding: 20px 20px 20px 20px;
}
hr{
    border-top: 1px solid rgb(87, 104, 134);
}