<div class="container-fluid" id="usvisaguide">

    <div class="row">
        <div class="col-md-3"></div>
        
        <div class="col-md-6" id="reqinfo">
            <div class="scrollable">
           <dl>
             <dt>Required Documents</dt>
             <dd>
                Gather and prepare the following required documents before your visa interview:
                <ul>
                  <li>Passport valid for travel to the United States – Your passport must be valid for at least six months beyond your period of stay in the United States (unless exempt by country-specific agreements). Each individual who needs a visa must submit a separate application, including any family members listed in your passport.</li>
                <li>Nonimmigrant Visa Application, Form DS-160 confirmation page.</li>
                <li>Application fee payment receipt, if you are required to pay before your interview.</li>
                <li>Photo – You will upload your photo while completing the online Form DS-160. If the photo upload fails, you must bring one printed photo in the format explained in the Photograph Requirements.</li>
                <li>Certificate of Eligibility for Nonimmigrant (F-1) Student Status-For Academic and Language Students, Form I-20 or Certificate of Eligibility for Nonimmigrant (M-1) Student Status for Vocational Students, Form I-20 – Your school will send you a Form I-20 once they have entered your information in the SEVIS database. You and your school official must sign the Form I-20.  All students must be registered in the Student and Exchange Visitor System (SEVIS). Your spouse and/or minor children, if they intend live in the United States with you, will each receive an individual Form I-20.</li>
              </ul>
             </dd>
           </dl>

           <dl>
              <dt>Additional Documentation May Be Required</dt>
              <dd>
                  A consular officer will interview you to determine your qualifications for a student visa, and may request additional documents, such as evidence of:
                 <ul>
                   <li>Your academic preparation, such as:
                     <ul>
                       <li>Transcripts, diplomas, degrees, or certificates from schools you attended; and</li>
                       <li>Standardized test scores required by your Australian school;</li>
                     </ul>
                   </li>
                 <li>Your intent to depart the United States upon completion of the course of study; and</li>
                 <li>How you will pay all educational, living and travel costs. </li>
               </ul>
              </dd>
            </dl>

        <h1><u>How To Apply</u></h1>
        <p>There are several steps to apply for a visa. The order of these steps and how you complete them may vary by Australian Embassy or Consulate. Please consult the instructions on the embassy or consulate website.</p>

        <dl>
            <dt>Complete the Online Visa Application</dt>
            <dd>
               <ul>
                 <li>Online Nonimmigrant Visa Application, Form DS-160 – Learn more about completing the DS-160. You must: 1) complete the online visa application, and 2) print the application form confirmation page to bring to your interview.</li>
               <li>Photo –You will upload your photo while completing the online Form DS-160. Your photo must be in the format explained in the Photograph Requirements.</li>
             </ul>
            </dd>
          </dl>

          <dl>
              <dt>Schedule an Interview</dt>
              <dd>
                 <ul>
<li>Interviews are generally required for visa applicants with certain limited exceptions below. Consular officers may require an interview of any visa applicant.</li>>
<li>You should schedule an appointment for your visa interview at the Australian Embassy or Consulate in the country where you live. You may schedule your interview at another Australian. Embassy or Consulate, but be aware that it may be more difficult to qualify for a visa outside of the country where you live.</li>
               </ul>
              </dd>
            </dl>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>

</div>
