<div class="container-fluid" id="predeparturecheck">

        <!-- <div class="row" id="predepartimage">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                <img src="pre-departure-checklist.jpg" class="img-fluid text-center" alt="Pre departure">
                </div>
                <div class="col-md-1"></div>
                </div><br><br> -->
        <br><br><br><br>

        <h3 id="predeparthead" class="mb-5 font-weight-bold text-center">PRE-DEPARTURE CHECKLIST</h3>
        <hr>

        <div class="row" id="predepartchecklist">

                <div class="col-md-1"></div>
                <div class="col-md-10">
                        <p>Below, you will find a list of items and activities that you will need to take care of as you
                                prepare to depart for your study abroad program. Please keep in mind that this list is
                                not comprehensive and that your program will require action on your part above and
                                beyond this list. Check your Pitt email for any important messages from your program
                                manager.</p>
                </div>
                <div class="col-md-1"></div>
        </div>

        <div class="row" id="visapassport">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <div class="img" style="background-image:url('assets/Images/visapassport.jpg');"></div>

                        <!-- <img id="img1" src="visapassport.jpg" class="img-fluid" alt="Visa and Passport"> -->
                </div>
                <div class="col-md-7">
                        <ul class="list-group">
                                <li class="list-group-item text-center" class="listtitle"><b>VISA AND PASSPORT</b></li>
                                <li class="list-group-item">Passport and visa in order.Make sure you have a valid
                                        passport. Your passport should not expire less than 90 days of your return to
                                        the U.S</li>
                                <li class="list-group-item">Passport questionnaire complete. Always keep your passport
                                        in a document pouch/ money belt, along with other documents/money, when
                                        traveling.</li>
                                <li class="list-group-item">Apply for a student visa, if necessary. Consult your host
                                        institution or program provider if you have questions specific to the visa
                                        requirements of your program.</li>
                        </ul>
                </div>
                <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row" id="flight">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <div class="img" style="background-image:url('assets/Images/flight.jpg');"></div>
                        <!-- <img id="img2" src="flight.jpg" class="img-fluid" alt="Flight" style="width:100%"> -->
                </div>
                <div class="col-md-7">
                        <ul class="list-group">
                                <li class="list-group-item text-center" class="listtitle"><b>FLIGHT BOOKING</b></li>
                                <li class="list-group-item">Flight booked (with program manager approval)</li>
                                <li class="list-group-item">Flight information questionnaire completed and uploaded to
                                        study abroad profile</li>
                                <li class="list-group-item">Take a printout of flight ticket and keep it with you in the
                                        carry-on bag</li>
                                <li class="list-group-item">Make sure you have sufficient time to settle down once you
                                        reach your destination. So book your tickets accordingly.</li>
                        </ul>
                </div>
                <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row" id="medication">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <div class="img" style="background-image:url('assets/Images/med.jpg');"></div>
                        <!-- <img src="flight.jpg" class="img-fluid" alt="Flight" style="width:100%"> -->
                </div>
                <div class="col-md-7">
                        <ul class="list-group">
                                <li class="list-group-item text-center" class="listtitle"><b>MEDICATIONS AND HEALTH
                                                INSURANCE</b></li>
                                <li class="list-group-item">Visit to primary care physician and any other medical
                                        providers</li>
                                <li class="list-group-item">Getting a physical before studying abroad is often
                                        overlooked, but it’s a necessary step in the pre-departure preparation. Ensure
                                        you are healthy and up-to-date on any necessary vaccines or shots before
                                        leaving. </li>
                                <li class="list-group-item">Ask your doctor to write new prescriptions for any
                                        medication that’s about to expire, and get a recommendation on what to do if
                                        you’re sick or need to visit a hospital in your host country in case of a
                                        medical emergency.</li>
                                <li class="list-group-item">Investigate options for comprehensive health insurance for
                                        your time abroad, and ask your local host institution or provider program if you
                                        will be covered by an in-country health insurance plan (and what is/is not
                                        covered by this plan). Be sure you understand the specific coverage and
                                        reimbursement policies of the health insurance plan(s) you elect.</li>
                        </ul>
                </div>
                <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row" id="banking">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <div class="img" style="background-image:url('assets/Images/bank.jpg');"></div>
                        <!-- <img src="flight.jpg" class="img-fluid" alt="Flight" style="width:100%"> -->
                </div>
                <div class="col-md-7">
                        <ul class="list-group">
                                <li class="list-group-item text-center" class="listtitle"><b>BANKING AND CURRENCY</b>
                                </li>
                                <li class="list-group-item">Find out what fees your bank and banks abroad charge for
                                        transactions and plan to take several forms of funds with you (i.e. credit
                                        cards, travelers checks, cash, etc).</li>
                                <li class="list-group-item">Consult currency conversion websites for currency exchange
                                        information before and while traveling: <a
                                                href="http://www.xe.com/ucc">http://www.xe.com/ucc</a></li>
                        </ul>
                </div>
                <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row" id="packinglist">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <div class="img" style="background-image:url('assets/Images/packinglist.jpg');"></div>
                        <!-- <img src="flight.jpg" class="img-fluid" alt="Flight" style="width:100%"> -->
                </div>
                <div class="col-md-7">
                        <ul class="list-group">
                                <li class="list-group-item text-center" class="listtitle"><b>MAKE MULTIPLE PACKING
                                                LISTS</b></li>
                                <li class="list-group-item">Packing can be an overwhelming process, especially when it’s
                                        tempting to throw everything you own into your suitcases. Remember to take along
                                        adapter plugs, a language translation device or dictionary, snacks from home and
                                        a list of emergency contacts.</li>
                                <li class="list-group-item">Find out what’s affordable and easy to find in your host
                                        country from hair products to contact lens solution. You may discover it’s
                                        easier and more affordable to just purchase necessary items while you’re there.
                                        Otherwise, make a list of all the personal care products you need and remember
                                        to <a href="https://globalgraduates.com/">pack them away in a checked bag</a> to
                                        avoid issues at airport security.</li>
                                <li class="list-group-item">Check the weather in your new country a few months in
                                        advance to figure out how to maximize your wardrobe and layer together outfits
                                        that can work whether it’s chilly or warm. Ask your parent or a roommate if they
                                        can ship you pre-marked boxes in three or four months and receive packages back
                                        from you. </li>
                        </ul>
                </div>
                <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row" id="impdocs">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <div class="img" style="background-image:url('assets/Images/doc.png');"></div>
                        <!-- <img src="flight.jpg" class="img-fluid" alt="Flight" style="width:100%"> -->
                </div>
                <div class="col-md-7">
                        <ul class="list-group">
                                <li class="list-group-item text-center" class="listtitle"><b>IMPORTANT DOCUMENTS TO
                                                CARRY</b></li>
                                <li class="list-group-item">Marksheets of X, XII and undergraduation.</li>
                                <li class="list-group-item">Transcripts and Degree certificate.</li>
                                <li class="list-group-item">SOPs and LORs</li>
                                <li class="list-group-item">Financial documents</li>
                                <li class="list-group-item">VISA and I-20</li>
                                <li class="list-group-item">Identity cards other than passport</li>
                                <li class="list-group-item">Extra copies of all the above mentioned documents</li>
                        </ul>
                </div>
                <div class="col-md-1"></div>
        </div>
        <br>

</div>