<div class="container-fluid" style="background-color:rgb(118, 128, 156)">
        <div class="reviewDetails" >
            <div>
              <h5 class="display-4" style="text-indent: -1.46em;">ACADEMICS</h5>
              <p>The university receives hefty research grants each year from the National Science Foundation and the National Institutes of Health, as well as the Departments of Homeland Security, Energy and Defense. Undergraduates and graduates alike can get involved in research, and many present projects in the annual Research, Innovation and Scholarship Expo. Notable alumni include talk show host Wendy Williams and former astronaut and professor Albert Sacco. </p>
        
              <h5 class="display-4">JOB PROSPECTS</h5>
              <p>The university receives hefty research grants each year from the National Science Foundation and the National Institutes of Health, as well as the Departments of Homeland Security, Energy and Defense. Undergraduates and graduates alike can get involved in research, and many present projects in the annual Research, Innovation and Scholarship Expo. Notable alumni include talk show host Wendy Williams and former astronaut and professor Albert Sacco. </p>
        
              <h5 class="display-4">CAMPUS</h5>
              <p>Its setting is urban, and the campus size is 73 acres. Outside of the classroom and workplace, there are more than 400 clubs and organizations for students, including more than 30 fraternities and sororities. The Northeastern Huskies compete in the NCAA Division I Colonial Athletic Conference. More than 3,000 students compete at the club and intramural sport level. Freshmen and sophomores are required to live on campus. Northeastern’s campus is spread out across 73 acres in the venerable college town of Boston. Northeastern has its own stop on Boston’s subway system, commonly called the T. The city, home to myriad colleges, is steeped in American history and full of activities for students. </p>
            </div>
          </div>
        </div>