<div class="container-fluid"  >
    <!--Section: Top Universities-->
   
      <section id="TopUnniversitiesHeader" class="text-center">
      <div class="page-header"> 
      <h2>APPLICATION DEADLINES</h2>
      </div>
      </section>
  
  
    <section id="TopUnniversitiesBody" class="text-left">
        <div class="table-responsive-sm" >
            <table class="table table-bordered">
                <thead class="thead-dark"  id="head">
                    <tr>
                      <th scope="col">UNIVERSITY</th>
                      <th scope="col">SPRING DEADLINE</th>
                      <th scope="col">AUTUMN DEADLINE</th>
                    </tr>
                  </thead>
              <tbody>
              <!-- On rows -->
              <tr class="table-light">
                <td>Northeastern University</td>
                <td> 15th July</td>
                <td> 5th April</td>
              </tr>
              <tr class="table-info">
                  <td>Harvard University</td>
                  <td> 2nd June</td>
                  <td> 10th January</td>
              </tr>
              <tr class="table-light">
                  <td>University of Pennsylvania</td>
                  <td> 15th July</td>
                  <td> 25th April</td>
                </tr>
                <tr class="table-info">
                    <td>University of Virginia</td>
                    <td> 10th August</td>
                    <td> 10th December</td>
                </tr>
                <tr class="table-light">
                    <td>University of Michigan</td>
                    <td> 30th May</td>
                    <td> 5th February</td>
                  </tr>
                  <tr class="table-info">
                      <td>University of Southern California</td>
                      <td> 20th August</td>
                      <td> 10th February</td>
                  </tr>
                  <tr class="table-light">
                      <td>New York University</td>
                      <td> 30th June</td>
                      <td> 5th February</td>
                    </tr>
                    <tr class="table-info">
                        <td>University of Notre Dame</td>
                        <td> 25th August</td>
                        <td> 10th March</td>
                    </tr>
                
              
                  </tbody>

            </table>
          </div>
    
     <!-- TOP BUTTON -->
   
     <div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
      <button (click)="scrollToTop()" class="btn btn-dark" style="font-family: Broadway; background-color: rgb(40, 40, 41)">
          BACK TO TOP
      </button>
  </div>
    </section>
    
</div>
      
    