<div class="container-fluid" id="aboutuspage">

  <div class="row" id="aboutus">

    <div class="col-md-1"></div>
    <div class="col-md-4">
      <br><br><br><br>
      <img src="assets/Images/th.jpg" class="img-fluid" alt="About us">
      <div class="caption">
        <h1>ABOUT US</h1>
      </div>
    </div>
    <div class="col-md-6">
      <br><br><br><br>
      <p>Unistack started off in February 2015 as a partner product of Stupidsid to help students who wish to pursue
        masters abroad. Since then, Unistack has been the quintessential ‘study abroad’ partner for lakhs of students.
        Our mobile application and web interface have become the constant companion of students applying abroad. With
        our services now branching out to diverse fields of study in multiple countries, Unistack is set to become the
        number one destination to guide students in planning, managing and executing their dream of pursuing studies
        abroad.</p>
      <p>Unistack caters to all the needs of a student by providing a complete guide for planning and managing the
        application process. It provides users with the information regarding universities and help them shortlist
        universities ,make a logging sheet of the all the university applications they have applied and allow them to
        make changes to the status of the applications. Based on the status they can further make the list of processes
        to be taken care of. User can also share the experience of the application process, view the experiences of
        other users and comment on the posts.</p>
    </div>
    <div class="col-md-1"></div>

  </div>
  <hr>
  <div class="row" id="services">

    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <h3>SERVICES</h3>
      <h5>At Unistack, we offer :</h5>
    </div>
    <div class="col-md-1"></div>

  </div>
  <div id="wrapper">
    <div class="row" id="profilebuilder">

      <div class="col-md-1"></div>
      <div class="col-md-2 text-center">
        <i class="fas fa-portrait fa-4x black-text"></i>
      </div>
      <div class="col-md-8">
        <h5>PROFILE BUILDER</h5>
        <ul>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Build your profile to understand where you stand among
            thousands of other students applying abroad</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Message fellow Unistackers through your profile to clear
            doubts or share information</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Get ready to take tests and dive into the ‘process’ of
            applying to Universities</li>
        </ul>
      </div>
      <div class="col-md-1"></div>

    </div>

    <div class="row" id="gradfinder">

      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h5>GRADUATE FINDER</h5>
        <ul>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Get your profile evaluated to get an elaborate list of
            Ambitious, Realistic and Safe Universities for Masters abroad based on your Profile, Field of Interest &
            test scores using our unique tool.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Find the right course for yourself with the help of our
            detailed course descriptions. Find the best Universities where the course is available.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>You can add country, course, rank, type and other filters
            to find the perfect match for yourself.</li>
        </ul>
      </div>
      <div class="col-md-2 text-center">
        <i class="fa fa-binoculars" style="font-size:55px"></i>
      </div>
      <div class="col-md-1"></div>

    </div>

    <div class="row" id="testprep">

      <div class="col-md-1"></div>
      <div class="col-md-2 text-center">
        <i class="fa fa-book" style="font-size:55px"></i>
      </div>
      <div class="col-md-8">
        <h5>TEST PREPARATION</h5>
        <ul>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Anxiety about tests like GRE, GMAT, TOEFL and IELTS can
            be harrowing. Unistack makes sure that you find support during your test taking journey.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Find comprehensive articles written by experts about
            almost everything that you need to know about your journey to your dream University abroad. Find tips,
            tricks, suggestions and resources to crack exams here.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>You can use the Yocket GRE Prep to brush up on your
            skills, or you can use it on the go to practice or use our Flashcards for the most important 564 words in
            GRE</li>
        </ul>
      </div>
      <div class="col-md-1"></div>

    </div>

    <div class="row" id="predepart">

      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h5>PRE DEPARTURE</h5>
        <ul>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Prepare for your Visa Interview with Unistack Discussions
            and articles, read past
            experiences and get your doubts cleared about the I-20.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Get a Forex card delivered
            to your doorstep and spend hassle-free when you travel abroad.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Get a list of documents to be carried and list of dos and
            don'ts.</li>
        </ul>
      </div>
      <div class="col-md-2 text-center">
        <i class="fas fa-plane-departure fa-4x black-text"></i>
      </div>
      <div class="col-md-1"></div>

    </div>

    <div class="row" id="univinfo">

      <div class="col-md-1"></div>
      <div class="col-md-2 text-center">
        <i class="fa fa-university" style="font-size:65px"></i>
      </div>
      <div class="col-md-8">
        <h5>UNIVERSITY INFORMATION</h5>
        <ul>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Find the right course for yourself with the help of our
            detailed course descriptions.Find the best Universities where the course is available.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Head to the University Reviews tool- it allows you to
            access detailed, honest and accurate information about Universities around the world.</li>
          <li><i class="glyphicon glyphicon-chevron-right"></i>Stay updated with the approaching course wise deadlines
            for Universities so that you don't miss out on your favourite University.</li>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>