<footer class="page-footer unique-color-dark">
  <section id="footer">
    <!-- Footer Links -->
    <div class="Container-fluid" id="fluid1">
  
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold bg-crimson">
            <a routerLink="aboutus">About us</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold ">
            <a routerLink="search">Univeristies</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Services</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">Smart tools and info to help you fly to your dream university abroad. The most
            reliable, useful and authentic application for MS in US aspirants.Yocket is the perfect place to start your
            research and understand the process for studying in countries such as USA, Australia, Canada, Germany,
            Netherlands and many more. We come into the picture right from the moment you think of pursuing your education
            abroad. We currently have over 1000 universities’ reviews, info on more than 5000 courses, application
            deadlines and tools to track universities’ decisions, preparing for tests, finding suitable universities or
            connecting with alumni and university reps.</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
      <!-- Grid row-->
      <div class="row pb-3">
  
        <!-- Grid column -->
  
        <div class="col-md-5 col-lg-7 text-center text-md-right">
  
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a>
  
        </div>
  
      </div>
      <!-- Grid column -->
  
    
    <!-- Grid row-->
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright
      <a href="https://mdbootstrap.com/education/bootstrap/"> </a>
    </div>
    <!-- Copyright -->
  </div>
</section>
  </footer>